
<table class="table table-sm table-hover">
<tr *ngFor="let employee of employeeList">
  <td>{{employee.name}}</td>
  <td>{{employee.position}}</td>
  <td>
      <a class="btn" (click)="onEdit(employee)">
          <i class="fas fa-edit"></i>
      </a>
      <a class="btn" (click)="onDelete(employee.$key)">
          <i class="fas fa-trash"></i>
      </a>
  </td>
</tr>
</table>
