<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" >
<input type="hidden" name="$key" #$key = "ngModel" [(ngModel)]="empService.selectedEmployee.$key">
<div class="form-group">
<label>Name</label>
<input type="text" class="form-control" name="name" #name ="ngModel" [(ngModel)] = "empService.selectedEmployee.name" placeholder="Full Name" required>
</div>
<div class="form-group">
<label for="position">position</label>
<input type="text" class="form-control" name="position" #position ="ngModel" [(ngModel)] = "empService.selectedEmployee.position" placeholder="position" required>
</div>
<div class="form-group">
<label for="office">office</label>
<input type="text" class="form-control" name="office" #office ="ngModel" [(ngModel)] = "empService.selectedEmployee.office" placeholder="office" required>
</div>
<div class="form-group">
<label for="salary">salary</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-dollar-sign"></i></span>
    </div>
    <input  class="form-control" name="salary" #salary ="ngModel" [(ngModel)] = "empService.selectedEmployee.salary"  placeholder="salary" required>
  </div>
</div>
<div class="form-group">
  <button class="btn btn-default" type="submit" [disabled] = "!employeeForm.valid" *ngIf="!empService.editMode">
      <i class="fas fa-cloud"></i>
      Submit</button>
  <button class="btn btn-default" type="submit" [disabled] = "!employeeForm.valid" *ngIf="empService.editMode">
    <i class="fas fa-wrench"></i>
      Update</button>
  <button class="btn btn-default" type="button" (click)="onRest(employeeForm)">
      <i class="fas fa-redo-alt"></i>
    Reset</button>
</div>
</form>
